

<body>
  <div class="main-w3layouts wrapper">
    <h1> Inscription </h1>
    <div class="main-agileinfo">
      <div class="agileits-top" >
        <form  #registerForm="ngForm" *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidates >
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="text" id="email" required [(ngModel)]="user.email" name="email" #email="ngModel" placeholder="email">
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
              </div>
          </div>


          <div class="form-group">
              <label for="pwd">Mot de passe</label>
              <input type="password" class="text" id="pwd" required [(ngModel)]="user.password" name="pwd" #pwd="ngModel" placeholder="password">
              <div [hidden]="pwd.valid || pwd.pristine" class="alert alert-danger"> Mdp is required </div>
          </div>

          <div class="form-group">
              <label for="firstName">Nom </label>
              <input type="text" class="text" id="firstName" required [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" placeholder="firstname">
              <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger"> Nom is required
              </div>
          </div>

          <div class="form-group">
              <label for="lastName">Prénom </label>
              <input type="text" class="text" id="lastName" required [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" placeholder="lastname">
              <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                Prenom is required
              </div>
          </div>
          <div class="form-group">
              <label for="phoneNumber">Numéro de téléphone </label>
              <br/>
              <input type="text" class=" text" id="phoneNumber" required [(ngModel)]="user.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" placeholder="phone number">
          </div>

          <div class="form-group">
            <label for="ville"> Adresse </label>
            <input type="text"  class="text" id="ville" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" [(ngModel)]="address" #search name="ville" placeholder="adress">
          </div>
          <div class="form-group">
              <label for="street">Rue  </label>
              <input type="text" class="text" id="street" required name="street"   disabled="true" placeholder="{{street}}">
          </div>

          <div class="form-group">
              <label for="zip">Code Postale </label>
              <br/>
              <input type="number" class="text" id="zip" required name="zip" placeholder="{{postCode}}" disabled="true">
          </div>

          <div class="form-group">
                <label for="city"> Ville</label>
                <input type="text" class="text" id="city" required name="city"  disabled="true" placeholder="{{city}}">
          </div>
          <div class="form-group">
                <label for="country">Pays</label>
                <input type="text" class="text" id="country" required name="country"   disabled="true" placeholder="{{country}}">
          </div>
          <input type="submit" value="SIGNUP">
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              <br />{{ errorMessage }}
          </div><br>
          <p>Vous avez un compte ? <a routerLink="../connexion">Connectez-vous!</a></p>
      </form>

      <div style="margin-top : 100px" class="alert alert-success" *ngIf="isSuccessful">
        Votre inscription a bien ete prise en compte!
      </div>
    </div>
    </div>
  </div>
