<div class="mesdemandes">
  <div  class="filter">
    <form class="form-style-5" >
          <div class="form-group">
              <label for="sta">Statut</label>
              <select class="form-control" name="statut" id="stat">
                <option value="ACCEPTE">Acceptée</option>
                <option value="ATTENTE">En attente</option>
                <option value="REFUSE">Refusée</option>
                <option value="TERMINE">Terminée</option>
            </select>
          </div>
          <br/>
          <br/>
          <div class="slidecontainer">
            <label for="nbMedailles">Médailles </label>
            <!--<form method="post">
              <input type="range" min="0"  max="100" step="1" value="5" class="slider"  name="nbMedailles"  >
            </form>-->
            <input type="text"name="nbMedailles" class="form-control" id="nbMedailles" >
          </div>
          <br/>
          <br/>
          <div class="form-group">
              <label for="dateDemande">Date</label>
              <input type="date" name="dateDemande" min="01-01-2020" max="30-04-2050" id="dateDemande">
          </div>
          <br/>
          <br/>
          <button (click)="filterDemande()" class="btn" type="button"><span>Filtrer</span></button> 
        </form>
    </div>

  <div class="container-fluid">
  <br>
  <table class="styled-table">
        <thead>
            <tr>
              <th scope="col">N° demande</th>
              <th scope="col">Titre Offre</th>
              <th scope="col">Statut</th>
              <th scope="col">Date</th>
              <th scope="col">N° téléphone</th>
              <th>Noter</th>
              <th scope="col">MAJ</th>
            </tr>
        </thead>
        <tbody *ngFor="let demande of demandes">
          <tr>
            <td>{{demande.id}}</td>
            <td>{{demande.offre.titre}}</td>
            <td>{{demande.statut}}</td>
            <td>{{demande.dateDemande.substring(0,10)}}</td>
            <td *ngIf="demande.statut =='ACCEPTE' || demande.statut =='TERMINE';else demandeNonaccepte">{{demande.offre.user.phoneNumber}}</td>

            <ng-template #demandeNonaccepte style="align-content: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16"><path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/></svg>
             </ng-template>
            <td *ngIf="demande.statut =='TERMINE' && demande.is_noted==true;else Offredejanoter">
               deja notée
            </td>
            <ng-template #Offredejanoter style="align-content: center;">
                <td><ngb-rating  [max]="5" [(rate)]="currentRate"(rateChange)=saveNote(currentRate,demande.offre.id,demande.id)></ngb-rating>
              </td>
            </ng-template>
          
            

            <td style ="display: flex;">
              <i class="fa fa-trash" aria-hidden="true"></i>
              <button (click)="deleteServiceRequest(demande.id)"class="btn-danger">    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
<br>
<br>

    <div class="align-content-lg-around" *ngIf="empty">
      <p>Vous n'avez pas encore de demande</p>
    </div>
  </div>

</div>