<h2>Offre Details</h2> 

<hr/>
<div *ngIf="offres">
  <div>
    <label><b>Titre: </b></label> {{offres.titre}}
  </div>
  <div>
    <label><b>Description: </b></label> {{offres.description}}
  </div>
  <div>
    <label><b>categorie: </b></label> {{offres.cat}}
  </div>  
  <div>
    <label><b>Ville: </b></label> {{offres.villeOffre}}
  </div>  
  <div>
    <label><b>date Offre </b></label> {{offres.dateOffre}}
  </div>  
  <div>
    <label><b>dateFinOffre </b></label> {{offres.dateFinOffre}}
  </div> 
  <div>
    <label><b>nbMedailles </b></label> {{offres.nbMedailles}}
  </div> 
</div>
<br>
<br>

<div class="panel-body">
  <table class="table table-striped">
    <thead>
      <tr>
 
        <th scope="col">Date Demande</th>
        <th scope="col">Statut</th>

       <th scope="col">Nom  </th>
        <th scope="col">Prenom</th>
        <th scope="col"></th>

      <!-- <--> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let demande of demandes ">
        <td>{{demande.dateDemande}}</td>

        <td>

          <select class="form-control"  id="cat"  [(ngModel)]="demande.statut" (change)="selectChangeHandler()" >
            <option *ngFor="let stat of status | async" [ngValue]="stat">{{stat}}</option>
        </select>
        </td>

        <td>{{demande.user.firstName}}</td>
        <td>{{demande.user.lastName}}</td> 

          <td> <button (click)="updateDemande(demande,demande.id)"  [disabled]="!demande.buttonDisabled" class="btn btn-info" style="margin-left: 10px">Valider</button></td> 

          <td> <button (click)="goProfilDetails(demande.user.id)"   class="btn btn-info" style="margin-left: 10px">Profil</button></td> 

      </tr> 
    </tbody>
  </table>
</div>
<div style="margin-top : 100px" class="alert alert-success" *ngIf="isUpdatedDemande">
  Your Update is successful!
</div>
<button (click)="list()" class="btn btn-primary">Back to offer List</button><br>
