
h1{

    font-size: 3em;
  color: #EACAAC;
  text-align: center;

  font-weight: 50;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-family: 'Montserrat', sans-serif;
}

.lab {

    // font-size: 3em;
   color: #e7a76b;
   text-align: center;
    margin-left:15px;
   font-weight: 90;
   font-size: 20px;
   text-transform: capitalize;
   letter-spacing: 2px;
   font-family: 'Montserrat', sans-serif;

 }
 
 .styled-table {
    border-collapse: collapse;

    font-size: 0.9em;
    
    font-family: 'Montserrat', sans-serif;
 
   width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom : 70px;

  }
  .styled-table thead tr {
    background-color: #EACAAC;
    color: #ffffff;
    text-align: left;
    font-size:10px;
  }
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;

  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #EACAAC;
  }
  
  
 