<nav class="navbar navbar-expand-xl navbar-dark bg-danger fixed-top">
    <a class="navbar-brand h5 " href="#">Give Me A Hand</a>
    <div class="collapse navbar-collapse" >
      <!-- Left nav items -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link h5" routerLinkActive="active" routerLink="/accueil" >Accueil</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h5" routerLinkActive="active" *ngIf="isLoggedIn" routerLink="/mesDemandes" >Mes demandes</a>
          </li>
        <li class="nav-item">
          <a class="nav-link h5" routerLinkActive="active" *ngIf="isLoggedIn" routerLink="/offrelist"  > Mes offres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/moderate" *ngIf="isLoggedInADM" >Moderation</a>
        </li>
      </ul>
           <!-- Right nav items  -->
           <ul class="navbar-nav ml-auto"  >

            <li class="nav-item">
              <a class="nav-link"  *ngIf="isLoggedIn"  routerLink="/updateprofil">Bonjour {{email}}</a>
            </li>
            <li class="nav-item">
              <a href class="nav-link" *ngIf="isLoggedIn || isLoggedInADM" (click)="logout()">LogOut</a>
            </li>
            <li class="nav-item" *ngIf="!(isLoggedInADM || isLoggedIn)">
              <a  href class="nav-link"  routerLink="inscription">Sign Up</a>
            </li>
            <li class="nav-item" *ngIf="!(isLoggedInADM || isLoggedIn)">
              <a class="nav-link"  routerLink="connexion">Login</a>
            </li>
          </ul>
  </div>
</nav>
