<nav class="navbar navbar-expand-xl navbar-dark bg-danger fixed-top">
    <a class="navbar-brand h5 " href="#">Give Me A Hand</a>
    <div class="collapse navbar-collapse" >
      <!-- Left nav items -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link h5" routerLinkActive="active" routerLink="/accueil" >Accueil</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h5" routerLinkActive="active"  routerLink="/mesDemandes" *ngIf="isLoggedIn" >Mes demandes</a>
          </li>
        <li class="nav-item">
          <a class="nav-link h5" routerLinkActive="active" routerLink="/offrelist" *ngIf="isLoggedIn" > Mes offres</a>
        </li>
      </ul>



      <!-- Right nav items  -->
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a  class="nav-link" routerLink="inscription">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="connexion">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="/updateprofil">Bonjour {{email}}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>

    </ul>
  </div>
</nav>
