<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="accueil">
  <div  class="filter">
    <form class="form-style-5" (ngSubmit)="filtrer()">
      <div class="form-group">
        <label for="motcle">MOT CLE</label>
        <input type="text" class="form-control" id="motcle" [(ngModel)]="filtre.motCle" name="motCle">
      </div>
      <div class="form-group">
        <label for="cat">Categories</label>
        <select class="form-control"  id="cat" [(ngModel)]="filtre.categorie" name="categorie">
            <option *ngFor="let cat of categories | async" [ngValue]="cat">{{cat}}</option>
        </select>
      </div>
      <div class="form-group">
          <label for="ville">Ville</label>
          <input type="text"  class="form-control" id="ville" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" #search [(ngModel)]="filtre.ville" name="ville">
        </div>
        <div class="form-group">
          <label for="nbMedailles">Nombre de Medailles</label>
          <input type="text"   class="form-control" id="nbMedailles" [(ngModel)]="filtre.nbMedailles" name="nbMedailles">
        </div>

      <div class="form-group">
        <label for="dateFinOffre">Date </label>
        <input type="date" class="form-control" id="dateFinOffre" min="01/04/2021" [(ngModel)]="filtre.dateFiltre" name="dateFiltre">
      </div>
         <!-- <button class="button1" type="submit">Filtrer</button>--> 
          <button type="submit" class="btn"><span>Filtrer</span></button>
    </form>
  </div>
<div class="container-fluid">
  <div class = "offre" *ngFor="let offre of offres | async">
    <div class = "divInfos" >
    <h3 class="titre"> {{offre.titre}} </h3>
    <div class="divMedailles"> <i class="fas fa-medal"></i><p style="display: inline;" > {{offre.nbMedailles}} </p></div>

  </div>
    <div class="divCat"><p class = "card-title" > <label>Catégorie </label>  {{offre.cat}} </p></div>
    <div class = "description">
      <p><label>Description</label>  {{offre.description}} </p>
    </div>
    <div class="date"><p > <label> Date de fin</label> {{offre.dateFinOffre.substring(0,10)}}  </p></div>  
    <div class="note"><p *ngIf="offre.moyenneNotes!= 0.0"> Note moyenne : {{offre.moyenneNotes.toFixed(1)}} </p> </div>



    <div class = "ref">
      <button (click)="createDemande(offre)" class="demander" type="button"><span>Demander </span></button> 
    </div>
  </div>
</div>


<div class="map" id="map">
    <agm-map  [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng" label="home"></agm-marker>
  </agm-map>
  
</div>
</div>

