*{
    padding: 0;
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
   }

.accueil {
    position:absolute;
    display: flex;
    top:0;
    left:20px;
    height:100%;
    width:100%;
    grid-template-columns: 150px auto 320px;
    margin-top: 100px;
    padding-bottom:40px;
    overflow:hidden;
    gap: 20px;
    background-color : #FFFCFC;
}
/*
.filter{
    grid-column: 1;
    padding-top: 50px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    width: 243px;
    background-color: #EACAAC;
} */

.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #EACAAC;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
//	font-family: Georgia, "Times New Roman", Times, serif;
}


.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 textarea,
.form-style-5 select {
//	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #FFFCFC;
	//color:#8a97a0;
    color:#000000;

	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}


.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    background-color: #FFFCFC;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .btn span {
    position: relative; 
    z-index: 1;
  }
  
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
  .demander{
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    background-color: #FFFCFC;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  .demander :hover{
    background: #78c7d2;

  }
  .btn span {
    position: relative; 
    z-index: 1;
  }
  label{
    color: #e7a76b;
    text-align: center;
  
    font-weight: 50;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
  }
 
/*
  .form-style-5 button {
    border-color: #1abc9c;
    color: #fff;
    box-shadow: 0 0 40px 40px #1abc9c inset, 0 0 0 0 #1abc9c;
    transition: all 150ms ease-in-out;}
    
    .form-style-5 button :hover {
      box-shadow: 0 0 10px 0 #1abc9c inset, 0 0 10px 4px #1abc9c;
    }*/
  














.container-fluid {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    left: 257px;
   height: 100%;
    width: 720px;
    grid-gap: 10px;
    margin-left: 20px;
}

.offre{
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 250px;
    padding: 5px;
    border-style: solid;
    border-color: #EACAAC;
    width: 340px;

}
.divInfos{
    grid-column:1/ span 3 ;
    grid-row: 1;
    background-color: #EACAAC; 
   // text-align: center;
}
.titre{
    text-align: center;
    color: #000000;
    text-align: center;
  
    font-weight: 50;
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}
.divCat{
  //  grid-column: 1;
    //grid-row: 2;
    width: 100%;
} 

.divMedailles{
    grid-column: 3;
    grid-row: 2;
    text-align: right;
    margin-right: 5px;;
}
.description{
    grid-column: 1/ span 2;
    grid-row: 3;
}

.date{
    grid-column: 1;
    grid-row: 4;
}

.note{
    grid-column: 3;
    grid-row: 4;
}

.ref{
    grid-column: 3;
    grid-row: 5;
    
}

.map{
    grid-column: 3 ;
    position: absolute;
    right: 48px;
}

agm-map {
    height: 300px;
    width: 300px;
}

i {
    color: crimson;
    display: inline;
    }



    