

<!--<nav class="navbar navbar-expand-xl navbar-dark bg-danger fixed-top">
  <img src= "assets/images/GMH.png" style="width: 80px; height: 45px;"/>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link h5" routerLinkActive="active" routerLink="/accueil" >Accueil</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h5" routerLinkActive="active" *ngIf="isLoggedIn" routerLink="/mesDemandes" >Mes demandes</a>
          </li>
        <li class="nav-item">
          <a class="nav-link h5" routerLinkActive="active" *ngIf="isLoggedIn" routerLink="/offrelist"  > Mes offres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/moderate" *ngIf="isLoggedInADM" >Moderation</a>
        </li>
      </ul>
           <ul class="navbar-nav ml-auto"  >

            <li class="nav-item">
              <a class="nav-link"  *ngIf="isLoggedIn"  routerLink="/updateprofil">Bonjour {{email}}</a>
            </li>
            <li class="nav-item">
              <a href class="nav-link" *ngIf="isLoggedIn || isLoggedInADM" (click)="logout()">LogOut</a>
            </li>
            <li class="nav-item" *ngIf="!(isLoggedInADM || isLoggedIn)">
              <a  href class="nav-link"  routerLink="inscription">Sign Up</a>
            </li>
            <li class="nav-item" *ngIf="!(isLoggedInADM || isLoggedIn)">
              <a class="nav-link"  routerLink="connexion">Login</a>
            </li>
          </ul>
  </div>
</nav> -->
<div class="container">
  <div class="logo-box">
    <a href="/">
      <img src= "assets/images/GMH.png" style="width: 100px;"/></a>
  </div>
  <nav>
    <ul>
      <li *ngIf="isLoggedIn"  class="circle">
        <strong> {{user.medailles}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
          <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
          <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
        </svg></strong>
      </li>

      <li> <a class="nav-link"  *ngIf="isLoggedIn"  routerLink="/updateprofil">Hi {{user.firstName}} !!</a> </li>

      <li> <a class="nav-link" routerLinkActive="active" *ngIf="isLoggedIn" routerLink="/mesDemandes" >Mes demandes</a></li>
      <li>  <a class="nav-link" routerLinkActive="active" *ngIf="isLoggedIn" routerLink="/offrelist"  > Mes offres</a></li>
      <li >
        <a href class="nav-link" routerLinkActive="active" routerLink="/moderate" *ngIf="isLoggedInADM" >Moderation</a>
      </li>
      <li><a href *ngIf="isLoggedIn || isLoggedInADM" lass="nav-link" (click)="logout()">Deconnexion</a></li>

      <li><a href class="nav-link" *ngIf="!(isLoggedInADM || isLoggedIn)" routerLink="connexion">CONNEXION</a></li>
      <li><a href class="nav-link"  *ngIf="!(isLoggedInADM || isLoggedIn)" routerLink="inscription">INSCRIPTION</a></li>

    </ul>
  </nav>
</div>


<!-- Item 1 -->



<!-- <input onclick="window.location='/';" type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked/><strong>GVM</strong>
  <label for="slide-item-1"><p class="icon">
  </p><span>Home</span></label>

<input type="radio" onclick="window.location='connexion';"  name="slideItem" id="slide-item-2" class="slide-toggle"/>
<label for="slide-item-2"><p class="icon">
  <img src= "assets/images/login.png" style="width: 30px; height: 30px;"/>
</p>CONNEXION</label>


<input type="radio" onclick="window.location='inscription';"  name="slideItem" id="slide-item-3" class="slide-toggle"/>
<label for="slide-item-3"> <p class="icon">
  <img src= "assets/images/add-user.png" style="width: 30px; height: 30px;"/>
</p>INSCRIPTION</label>

<input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle"/>
<label for="slide-item-4"><p class="icon">✎</p><span>Blog</span></label>

<div class="clear"></div>

<div class="slider">
  <div class="bar"></div>
</div>
-->
