@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    padding: 0;
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
   }
body{
    background: #fff;
}
.container{
    max-height:300px;
}
.logo-box {
//top:0%;

//margin-top : 0%;
margin-left: 30px;
//margin-top: -60px;

}
img{
    //transform: rotate(45deg);
}
ul{
    position: absolute;
    top: 1%;
    right: 10px;
    /*
    position: absolute;
    top: 5%;  width: 100%;  text-align: center;
    left:20%;
    */
}

ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 5px;
}
ul li a{
    position: relative;
    display: inline-block;
    text-decoration: none;  text-transform: uppercase;
    color: #262626;  
    font-size: 20px;
    padding: 10px 20px;
    transition: .9s;
}
ul li a:hover{
    color: #fff;
}
ul li a::before{
    content: '';
    position: absolute;
    top: 0;  left: 0;
    width: 100%;  height: 100%;
    background: #EACAAC;
    z-index: -1;
    transform: scale(0);
    transition: .9s;
}
ul li a:hover::before{
    transform: scale(1);
}

/************* li before and after***********************/
ul li::before,ul li::after{
    content: '';
    position: absolute;
    left: 0;   
    width: 100%;  height: 5px;
    background: #EACAAC;
    opacity: 0;
    transition: .9s;
}
ul li::before{
    top: -50px;
}
ul li::after{
    bottom: -50px;
}
ul li:hover::before,ul li:hover::after{
    opacity: 1;
}
ul li:hover::before{
    top: -10px;
}
ul li:hover::after{
    bottom: -10px;
}

.circle{ width:100px; height:100px;
border-radius: 50%; }