<h1>M-A-J d'un service </h1>
<div  style="width: 300px;" class="createRequest">
  <form  (ngSubmit)="onSubmit()"  *ngIf="!submitted">
    <div class="form-group">
      <label for="name">Titre de l'offre</label>
      <!--<input type="text" class="form-control" id="titre"  [(ngModel)]="demande.offre.titre" name="titre"-->
    </div>
    <div class="form-group">
        <label for="name">Description</label>
        <!--<input type="text" class="form-control" id="description" [(ngModel)]="demande.offre.description"name="description">-->
    </div>
    <div class="form-group">
        <label for="sta">Statut</label>
        <select class="form-control" name="statut" id="stat">
          <option value="ATTENTE" selected >Envoyée (en attente)</option>
          <option value="ACCEPTE">Accepted</option>
          <option value="REFUSE">Refusée</option>
        </select>
    </div>  
    <div class="form-group">
        <label for="dateDemande">Date</label>
        <input type="date" name="dateDemande" min="01-01-2020" max="30-04-2050" id="dateDemande" value=now >
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

